{% extends 'myauth/base.html' %}

{% block body %}
<h1>User info</h1>
<div>
  <h2>Detail:</h2>
  {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" width="150px">
  {% else %}
    <p>Нет фото</p>
  {% endif %}
  <p>Username: {{ profile.user.username }}</p>
  <p>First name: {{ profile.user.first_name}}</p>
  <p>Last name: {{ profile.user.last_name }}</p>
  <p>Email: {{ profile.user.email }}</p>
  <p>Bio: {{ profile.bio }}</p>
</div>
{% if request.user.is_staff or request.user == profile.user %}
    <a href="{% url 'myauth:user-update' pk=profile.user.pk %}">Edit User</a>
    <a href="{% url 'myauth:profile-update' pk=profile.user.pk %}">Edit Profile</a>
{% endif %}
{% endblock %}