{% extends 'shopapp/base.html' %}
{% load i18n %}
{% block title %}
{% translate 'Product list' %}
{% endblock %}

{% block body %}
<h1>{% translate 'Products:' %}</h1>
{% if products %}
<div>
  {% for product in products %}
  <div>
    <p><a href="{% url 'shopapp:product_details' pk=product.pk %}"> {% translate 'Name' context 'product name' %}: {{ product.name }} </a> </p>
    <p> {% translate 'Price' %}: {{ product.price }}</p>
      {% translate 'no discount' as no_discount %}
    <p> {% translate 'Discount' %}: {% firstof product.discount no_discount%}</p>

    {% if perms.shopapp.can_edit_product or product.author == user or user.is_superuser %}
      <a href="{% url 'shopapp:product_update' product.pk %}">{% translate 'Edit product' %}</a>
      <a href="{% url 'shopapp:product_delete' product.pk %}">{% translate 'Delete product' %}</a>
    {% endif %}

  </div>
  {% endfor %}
</div>
{% else %}
<h3>{% translate 'No products yet' %} </h3>
{% endif %}
{% endblock %}