{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
{% translate 'Product details' %}
{% endblock %}

{% block body %}
<h1>{% translate 'Product' %}: <strong>{{ product.name }}</strong></h1>
<div>
    <div>{% translate 'Description' %}: <em>{{ product.description }}</em></div>
    <div>{% translate 'Price' %}: {{ product.price }}</div>
    <div>{% translate 'Discount' %}: {{ product.discount }}</div>
    <div>{% translate 'Archived' %}: {{ product.archived }}</div>
    <div>{% translate 'Author' %}: {{ product.author }}</div>


</div>
<div>
{% with simple_count=5 %}
    {% blocktranslate count count=simple_count %}
        The product has {{ count }} color.
    {% plural %}
        The product has {{ count }} colors.
    {% endblocktranslate %}
{% endwith %}

</div>
<div><a href="{% url 'shopapp:products_list' %}">{% translate 'Back to products list' %}</a></div>
{% if product and product.pk %}
{% if perms.shopapp.can_edit_product or product.author == user or user.is_superuser %}
  <p><a href="{% url 'shopapp:product_update' product.pk %}">{% translate 'Edit product' %}</a></p>

 <p><a href="{% url 'shopapp:product_delete' product.pk %}">{% translate 'Delete product' %}</a></p>
{% endif %}
{% endif %}
{% endblock %}