{% extends 'shopapp/base.html' %}

{% block title %}
Product list
{% endblock %}

{% block body %}
<h1>Products:</h1>
{% if products %}
<div>
  {% for product in products %}
  <div>
    <p><a href="{% url 'shopapp:product_details' pk=product.pk %}"> Name: {{ product.name }} </a> </p>
    <p> Price: {{ product.price }}</p>
    <p> Discount: {% firstof product.discount 'no discount'%}</p>
  </div>
  {% endfor %}
</div>
{% else %}
<h3> No products yet</h3>
{% endif %}

{% if product and product.pk %}
{% if perms.shopapp.can_edit_product or product.author == user or user.is_superuser %}
    <a href="{% url 'shopapp:product_update' product.pk %}">Edit product</a>
    <a href="{% url 'shopapp:product_delete' product.pk %}">Delete product</a>
{% endif %}
{% endif %}
{% endblock %}